.App {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.App-dash {
    display: flex;
}

.apod-img {
    display: flex;
    margin: auto;
    width: 90%;
    height: 25vh;
}

.apod {
    width: 90%;
    padding: 1%;
}

.mrp {
    width: 90%;
    padding: 1%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}

.ButtonGroup {
    width: 50%;
    margin: 1%;
}

.Button {
    border-radius: 20px;
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}